
.chat,
.chatMain {
  font-family: "Open Sans", sans-serif;
}

#scrollBottomBox {  
  position: absolute;  
  font-size:0;  
  bottom: 3px;  
  left:auto!important;  
  right:173px !important;  
  border:0 !important;  
  padding:0 !important;  
  width: 16px !important;  
  height: 16px !important;  
  border-radius:0 !important;  
  background-repeat: no-repeat;  
  background-color: transparent!important;  
  background-image: url(https://madeas.ru/icon/bottom.png);  
  cursor: pointer; 
}

.smilesBox::-webkit-scrollbar,
.vscrollable::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

.smilesBox::-webkit-scrollbar-thumb,
.vscrollable::-webkit-scrollbar-thumb {
  visibility: hidden;
  opacity:0;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.smilesBox:hover::-webkit-scrollbar-thumb,
.vscrollable:hover::-webkit-scrollbar-thumb {
  visibility:visible;
  opacity:1;
}

.smilesBox {
  margin: 1px -3px;
  padding-left:3px;
}

#sign-in-label a, 
.chatSendText,
.chatInputText,
.dialog-buttons button,
 select,
 input[type="button"],
 input[type="submit"],
 input[type="text"]  {
  outline:none;
}

.chatSendButton,
 select,
 input[type="button"],
 input[type="submit"] {
  cursor:pointer;
}

.chatTopLineWrapper ul li.chatMenuItemWithSeparator a {
  height: 17px;
}

.chatTopLineWrapper ul li.chatMenuItemWithSeparator a:hover {
  background-image:url("http://st1.chatovod.ru/i/widget/vborder.png");
}

.chatTopLineWrapper > ul > li > a {
  text-shadow: none;
}

.chatTopLineWrapper > ul > li > ul {
  margin-top:5px;
  width: 178px!important;
  border: 1px solid #f4f4f4;
}

.chatTopLineWrapper > ul > li > ul > li {
  width: 178px!important;
}

#chatMainMenuChatovod {
  margin-left:-12px!important;
}

#chatMainMenuChat {
  margin-left:55px!important;
}

.chatUserAway[title="Не беспокоить"] {
  display: none;
}

.chatLinkVip {
  padding-left: 21px;
}

.chatLinkVip::after {
  position:absolute;
  content:'vip';
  border-bottom:1px dotted #000;
}

.chatLinkModerate {
  padding-right: 26px;
  background-position: 10px 0;
  padding-left: 31px;
  border:0;
}

.chatLinkModerate::before {
  position:absolute;
  content:'moder';
  border-bottom:1px dotted #000;
}

.chatLinkMore {
  padding-left: 20px;
  background-color:transparent;
  background-image: url('http://madeas.ru/icon/chatemplate/icon_plus.png') !important;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.chatMessage.type-news, 
.chatMessage.type-event {
  background: rgba(24, 50, 47, .15);
  color: #fff;
  font-style: italic;
}
.chatMessage.type-news a, 
.chatMessage.type-event a {
  color: #505050;
  text-decoraion: none;
}

.chatMessage.type-avatar {
  background: rgba(233, 233, 233, .35);
  font-style: italic;
}

.chatMessage.type-login {
  background: rgba(138, 255, 138, .15);
  font-style: italic;
}

.chatMessage.type-logout {
  background: rgba(235, 235, 235, .35);
  font-style: italic;
}

.chatMessage.type-ban {
  background: rgba(255, 152, 0, .27);
  color: #bd5900;
  font-style: normal;
  font-weight: 400;
}
